web: &web
  build: .
  environment:
    - "DB_HOST=db"
    - "DB_PORT=5432"
    - "DB_PASSWORD=supersecret"
    - "DB_USER=vespapp-web"
    - "DB_NAME=vespapp-web"
  volumes:
    - ".:/opt/app/"
  links:
    - "db"

gunicorn:
  <<: *web
  entrypoint: ["gunicorn"]
  expose: ["8888"]
  command:
    - "vespapp.wsgi:application"
    - "-w"
    - "4"
    - "--bind"
    - "0.0.0.0:8888"

dev:
  <<: *web
  command: ["runserver", "0.0.0.0:8000"]
  ports:
    - "80:8000"

nginx:
  image: "nginx:1.9"
  volumes:
    - "./dockerfile_nginx/nginx.conf:/etc/nginx/nginx.conf"
  links:
    - "gunicorn"
  ports:
    - "80:80"

node: &node
  image: "node:5.8"
  working_dir: "/opt/node"
  volumes:
    - ".:/opt/node"
  entrypoint: ["node"]

npm:
  <<: *node
  entrypoint: ["npm"]

bower:
  <<: *node
  entrypoint: ["node", "node_modules/bower/bin/bower", "--allow-root"]

gulp:
  <<: *node
  entrypoint: ["node", "node_modules/gulp/bin/gulp.js"]

db:
  image: "postgres:9.5.1"
  expose:
    - "5432"
  volumes:
    - "/opt/vespapp_web/postgresql:/var/lib/postgresql/data"
  environment:
    - "POSTGRES_PASSWORD=supersecret"
    - "POSTGRES_USER=vespapp-web"
    - "POSTGRES_DB=vespapp-web"
