{% extends "layout.html" %}

{% block title %}Error{% endblock %}
{% block description %}Error{% endblock %}



{% block body %}
<h1>¡Shhh! Esta página está durmiendo.</h1>

<h2>O puede que el enlace no funcione, o que hayamos retirado la página. Una de estas será.</h2>

<h3>Prueba con estos. Seguro que funcionan.</h3>

<a href="{% url 'home' %}">Página principal</a>
<a href="{% url 'faq' %}">Preguntas frecuentes</a>

<!--<div class="container bee-panel">
  <div class="row">
      {% include "components/bee-panel.html" %} 
  </div>
</div>-->

{% endblock %}