{% extends "layout.html" %}

{% block title %}Preguntas{% endblock %}
{% block description %}Preguntas sobre el avistamiento{% endblock %}

{% block body %}
<div class="error404Container">
  <div class="content">
    <div>
      <h1><a href="{% url 'home' %}"><img src="/static/img/404.png"/></a></h1>
      <h1 class="h1404">¡Shhh! Esta página está durmiendo.</h1>
      <h2 class="h2404">O puede que el enlace no funcione.</h2>
      <h2 class="h2404">O que hayamos retirado la página. Una de estas será.</h2> 
    </div>
    <div class="buttom404">
      <div class="seach_bar404">
        <p>Puedes volver a Inicio haciendo clic <span><a href="{% url 'home' %}">aquí</a></span></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
