{% extends "layout.html" %}
{% load staticfiles %}


{% block title %}Acerca de{% endblock %}

{% block description %}Preguntas más frecuentes{% endblock %}

{% block body %}  

    <!-- About Section -->
    <section id="about">
        <div class="container">                         
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-tittle">Vespapp: Ciencia ciudadana para la detección de la avispa asiática</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about1.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octubre de 2015</h4>
                                    <h4 class="subheading">Primera detección de avispa asiática en Mallorca</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El Laboratorio de Zoología del Departamento de Biología de la Universitat de les Illes Balears confirmó la detección por primera vez de esta avispa en Mallorca, gracias a la colaboración de los apicultores.</p>
                                    <a target="_blank" href="http://diari.uib.es/arxiu/La-avispa-asiatica-ya-esta-en-Mallorca.cid411005"> Más info</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about2.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Octubre - Noviembre de 2015</h4>
                                    <h4 class="subheading">Localización y retirada del nido</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El Servei de Protecció d’Espècies de la Conselleria de Medi Ambient, Agricultura i Pesca organiza operativos para la detección del nido de la avispa asiática. El Equipo de control de fauna del COFIB logra retirar con éxito el único nido encontrado en la zona de la Vall de Sóller.</p>
                                    <a target="_blank" href="http://www.caib.es/pidip/dadesComunicat.do?lang=es&codi=8835160"> Más info</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/about3.jpg" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Marzo de 2016</h4>
                                    <h4 class="subheading">Maratón informático para diseñar una app contra la avispa asiática</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La UIB (Laboratorio de Zoología, Escuela Politécnica Superior y Vicerrectorado de Innovación y Transferencia) y Habitissimo organizan un maratón informático para diseñar una app contra la avispa asiática. Primera fase de la creación de Vespapp.</p>
                                    <a target="_blank" href="http://diari.uib.es/arxiu/La-UIB-y-Habitissimo-organizan-un-maraton.cid432855"> Más info</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static "img/avispa_logo.png" %}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Abril – Mayo de 2016</h4>
                                    <h4 class="subheading">Segunda fase de la creación de Vespapp</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">El equipo investigador del proyecto de ciencia ciudadana Vespapp (Laboratorio de Zoología, Informática, Sistemas de Información Geográfica (SIG) y Comunicación, participación y redes sociales) ha desarrollado la segunda fase de la aplicación con la colaboración de tres estudiantes de ingeniería informática, becados por la Cátedra Santander UIB de Innovación y Transferencia del Conocimiento (CSUIT).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>¡Sé parte
                                    <br>de nuestra
                                    <br>historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
