{% extends "layout.html" %}


{% block title %}FAQ{% endblock %}

{% block description %}Preguntas más frecuentes{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center"><i class="fa fa-question-circle"></i>Preguntas frecuentes</h1>
  </div>
  <div class="col-xs-12">

{% for faq in object_list %}
    <h2>{{ faq.title }}</h2>
    <p>{{ faq.body }} </p>
    {% if faq.image %}
      <img src="{{ faq.image.url }}"/>
    {% endif %}
{% empty %}
    <li>No articles yet.</li>
{% endfor %}

</div>
</div>
</div>
{% endblock %}