{% extends "layout.html" %}


{% block title %}FAQ{% endblock %}

{% block description %}Preguntas más frecuentes{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center section-tittle"><i class="fa fa-question-circle"></i>Preguntas frecuentes</h1>
  </div>


 <!--  <div class="col-lg-12"> -->
{% for faq in object_list %} 
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="boxFaq ">
        {% if faq.image %}          
          <div id="f1_container" data-toggle="modal" data-target="#{{ faq.id }}">
            <div id="f1_card"> 
              <div class="front face">
                <img class="img-responsive imgFaq" src="{{ faq.image.url }}"/>
                  <h4 class="titleFront">{{faq.title}}</h4>
              </div>
              <div class="back face center">
                <p class="fontTitle">{{faq.title}}</p>
                <p>{{faq.quickBody}}</p>
              </div>
            </div>
          </div> 
          <!-- Modal -->
          <div id="{{faq.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header modalTitle">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title modalFont">{{faq.title}}</h4>
                </div>
                <div class="modal-body">
                    {{faq.body}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /Modal -->
        {% endif %}              
      </div>    
    </div>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}

<!-- </div> -->
</div>
</div>
{% endblock %}
