{% extends "layout.html" %}

{% block title %}Inicio{% endblock %}
{% block body %}
<div class="container col-xs-12">
  <div class="row">
    <div class="text-center home-hero">
      <div class="home-title text-center">
        <h1 class="hidden-xs hidden-sm">Lucha contra la avispa asiática</h1>
      </div>
      {% include "components/carousel.html" %}
      <div class="col-xs-12 camera-button-container text-center clearfix">
        {% include "components/camera-button.html" %}
      </div>
    </div>
  </div>
</div>

<div class="container bee-panel col-xs-12 text-center">
 <!-- <div class="row">-->
      {% include "components/bee-panel.html" %} 
  <!--</div>-->
</div>

<div class="container home-footer">
  <div class="row">
    {% include "components/home-info.html" %}
  </div>
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4 text-center">
      {% include "components/button-primary.html" with url=new_sighting text="Añade avispamiento" %}
    </div>
  </div>
</div>

<script>
  {% if message and user.is_authenticated %}
    successUpLogged();
  {% elif message %}
    successUp('{{ message|striptags }}');
  {% endif %}
  {% if message_logout %}
    successLogOut('{{ message_logout|striptags }}');
  {% endif %}
</script>
{% endblock %}
