{% extends "layout.html" %}


{% block title %}Infórmate{% endblock %}

{% block description %}Infórmate{% endblock %}

{% block body %}
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h1 class="text-center section-tittle"><i class="fa fa-question-circle"></i>Infórmate</h1>
  </div>


 <!--  <div class="col-lg-12"> -->
{% for info in object_list %} 
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="boxInfo ">
        {% if info.image %}          
          <div id="f1_container" data-toggle="modal" data-target="#{{ info.id }}">
            <div id="f1_card"> 
              <div class="front face">
                <img class="img-responsive imgInfo" src="{{ info.imageCover.url }}"/>
                <h4 class="titleFront">{{info.title}}</h4>
              </div>
              <div class="back face center">
                <p class="fontTitle">{{info.title}}</p>
                <p>{{info.quickBody|linebreaks}}</p>
              </div>
            </div>
          </div> 
          <!-- Modal -->
          <div id="{{info.id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header modalTitle">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title modalFont">{{info.title}}</h4>
                </div>
                <div class="modal-body">
                    <img class="img-responsive imgInfo" src="{{ info.image.url }}"/>

                    <br>

                    {{info.body|linebreaks}}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- /Modal -->
        {% endif %}              
      </div>    
    </div>
{% empty %}
    <p>No hay información disponible</p>
{% endfor %}

<!-- </div> -->
</div>
</div>
{% endblock %}
