{% extends "layout.html" %}
{% load staticfiles %}
{% block description %}Nuevo avistamiento{% endblock %}
{% block body %}
  
<script>
    $(document).ready(function() {
      Dropzone.autoDiscover = false;

      var myDropzone = new Dropzone("div#mydz", { 
        url: "/new_sighting/",
        method: "post",
        paramName: "file",
        addRemoveLinks: true, 
        uploadMultiple: true, 
        autoProcessQueue: false,
        acceptedFiles: "image/*",
        renameFilename: "file", // does not work
        maxFiles: 10,
        parallelUploads : 10,
        dictDefaultMessage: "Drop files here to upload",
        dictFallbackMessage: "Your browser does not support drag and drop file uploads.",
        dictInvalidFileType: "You can't upload files of this type.",
        dictRemoveFile: 'Borrar'
      });

      var submitButton = document.getElementById("submit-all");

      submitButton.addEventListener("click", function(e) {
        e.preventDefault();
        e.stopPropagation();
        myDropzone.processQueue();
      });                                    

      myDropzone.on('addedfile', function(file){ 
        /*if(myDropzone.files.length > 5) { 
          myDropzone.removeFile(myDropzone.files[0]); 
        } */
      });

      myDropzone.on("sending", function(file, xhr, formData) {
        formData.append("type", $("input:radio[name=type]:checked").val()); 
        formData.append("location", $("select[name=location] option:selected").val()); 
        formData.append("free_text", $('input:text[name=free_text]').val());
      });
    });
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Envía tu avispamiento</h1>

      <form id="new_sighting" enctype="multipart/form-data">
        <div id="mydz" class="dropzone">
          <img src="{% static "img/camera.png" %}" alt="" height="42" width="42"> 
        </div>

        <div class="col-xs-6 text-center">
          <label class="round-label text-center">
            <input type="radio" name="type" class="hidden" value="1">
            <span>
              Avispa
            </span>
          </label>
        </div>
        <div class="col-lg-6 text-center">
          <label class="round-label text-center">
            <input type="radio" name="type" class="hidden" value="2">
            <span>
              Nido
            </span>
          </label>
        </div>

        <div class="col-xs-12 form-group location">
          <select class="form-control" name="location">
            <option value="">Selecciona población</option>
            {% for location in locations %}
                <option value="{{location.id}}">{{location.name}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-xs-12">
          <input maxlength="512" name="free_text" type="text" />
        </div>

        <button type="submit" id="submit-all" class="btn btn-primary">Enviar avistamiento</button>
       </form>
    </div>
  </div>
</div>

{% endblock %}