{% extends "layout.html" %}
{% block description %}Nuevo avistamiento{% endblock %}
{% block body %}
  
<script>
    window.addEventListener('load', init, false);

    function init() {
      console.log("init");
      document.getElementById('dnd-box').addEventListener('dragover', allowDrop, false);    
      document.getElementById('dnd-box').addEventListener('drop', drop, false);
    }
    
    function drop(ev) {
      console.log("drop");
      ev.preventDefault();
      var arch = new FileReader();
      arch.addEventListener('load', read, false);
      //arch.readAsBinaryString(ev.dataTransfer.files[0]); 
      arch.readAsDataURL(ev.dataTransfer.files[0]);        
    }      
    
    function allowDrop(ev) {
      console.log("allowDrop");
      ev.preventDefault();
    }    
    
    function read(ev) {
      //document.getElementById('dnd-box').style.backgroundImage="url('" + ev.target.result + "')";
      //$.post('http://localhost/api/sightings/1/photos/', {'file': ev.target.result});
       $('<img src=' + ev.target.result + ' alt="Smiley face" height="42" width="42">' +
        '<input type="submit" src=' + ev.target.result + ' name="file" class="hidden">').appendTo("#dnd-box");
    }
</script>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>Envía tu avispamiento</h1>
      <form id="new_sighting"  action="/new_sighting/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-xs-12 add-picture">
          <button type="button" class="btn btn-primary" name="button">
            <i class="fa fa-camera"></i>
          </button>
        </div>


        <label for="file-input" class="col-xs-12">
          <div id="dnd-box">
            Drop files here
            <img src="/media/sightings/file" alt="Smiley face" height="42" width="42">
            <input id="file-input" type="file" src="/media/sightings/file" name="file" class="hidden">
          </div>
        </label>

        <div class="col-xs-6 text-center">
          <label class="round-label text-center">
            <input type="radio" name="type" class="hidden" value="1">
            <span>
              Avispa
            </span>
          </label>
        </div>
        <div class="col-lg-6 text-center">
          <label class="round-label text-center">
            <input type="radio" name="type" class="hidden" value="2">
            <span>
              Nido
            </span>
          </label>
        </div>

        <div class="col-xs-12 form-group location">
          <div class="col-xs-6">
            <select class="form-control" name="">
              <option value="">Selecciona provincia</option>
              <option value="1">Mallorca</option>
              <option value="2">Menorca</option>
            </select>
          </div>
          <div class="col-xs-6 form-contol">
            <select class="form-control" name="location">
              <option value="">Selecciona población</option>
              <option value="2">Palma</option>
              <option value="3">Alaró</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12">
          <input maxlength="512" name="free_text" type="text" />
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
       </form>
    </div>
  </div>
</div>


{% endblock %}
