{% extends "layout.html" %}

{% block title %}Avistamiento{% endblock %}
{% block description %}Avistamiento en concreto{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Avistamiento</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <p>id: {{ object.id }}</p>
      <p>latitud: {{ object.lat }}</p>
      <p>lng: {{ object.lng }}</p>
      <p>location: {{ object.location }}</p>
      <p>status: {{ object.status }}</p>
      <p>free_text: {{ object.free_text }}</p>
      <p>type: {{ object.type }}</p>
      <p>public: {{ object.public }}</p>
      <p>reported_by: {{ object.reported_by }}</p>
      <p>moderator: {{ moderator.free_text }}</p>
      <p>is_valid: {{ object.is_valid }}</p>
      <p>answers: {{ object.answers }}</p>
      <p>created_at: {{ object.created_at }}</p>
      <p>updated_at: {{ moderator.updated_at }}</p>
      <hr>
      <br>
      <p>Los comentarios:</p>
      {% if object.user_comments %}
      <ul>
        {% for x in object.user_comments.all %}
          {% if x.moderated %}
            <li> <strong>Fecha: </strong>{{x.created_at}}<br>{{ x.body }}</li>
            <br>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
        <p>No hay comentarios.</p>
      {% endif %}

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div id="map_wrapper">
        <div id="map_canvas" class="mapping">
          
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
  var map;
  var bounds = new google.maps.LatLngBounds();
  var mapOptions = {
      mapTypeId: 'roadmap'
  };
                  
  // Display a map on the page
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  map.setTilt(45);
      
  // Multiple Markers
  var markers = [
      
      ['{{ object.location }}', parseFloat('{{object.lat}}'.replace(',','.')), parseFloat('{{object.lng}}'.replace(',', '.'))],
      
  ];
                      
  // Info Window Content
  var infoWindowContent = [
      
      ['<div class="info_content">' +
      '<h3>{{object.reported_by.username}}</h3>' +
      '<p>{{object.free_text}}</p>'  +    '</div>'],
      
  ];
      
  // Display multiple markers on a map
  var infoWindow = new google.maps.InfoWindow(), marker, i;
  
  // Loop through our array of markers & place each one on the map  
  for( i = 0; i < markers.length; i++ ) {
      var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
      bounds.extend(position);
      marker = new google.maps.Marker({
          position: position,
          map: map,
          title: markers[i][0]
      });
      
      // Allow each marker to have an info window    
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
              infoWindow.setContent(infoWindowContent[i][0]);
              infoWindow.open(map, marker);
          }
      })(marker, i));

      // Automatically center the map fitting all markers on the screen
      map.fitBounds(bounds);
  }
  // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
  var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
      this.setZoom(12);
      google.maps.event.removeListener(boundsListener);
  });
    
}
</script>

{% endblock %}
