{% extends "layout.html" %}
{% block title %}Avistamientos{% endblock %}
{% block description %}Lista de avistamientos{% endblock %}


{% block body %}
{% if sightings_list %}
<div id="map_wrapper">


  <div id="map_canvas" class="mapping"></div>
</div>
<script type="text/javascript">
jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
  var map;
  var bounds = new google.maps.LatLngBounds();
  var mapOptions = {
      mapTypeId: 'roadmap'
  };
                  
  // Display a map on the page
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  map.setTilt(45);
      
  // Multiple Markers
  var markers = [
      {% for sighting in sightings_list %}
      ['{{ sighting.location }}', parseFloat('{{sighting.lat}}'.replace(',','.')), parseFloat('{{sighting.lng}}'.replace(',', '.'))],
      {% endfor %}
  ];
                      
  // Info Window Content
  var infoWindowContent = [
      {% for sighting in sightings_list %}
      ['<div class="info_content_map">' +
      {% if sighting.type == 1 %}
      '<h3>Avistamiento avispa</h3>' +
      {% elif sighting.type == 0%}
      '<h3>Avistamiento nido</h3>' +
      {% else %}
      '<h3>Avistamiento</h3>' +      
      {% endif %}      

      {% if sighting.source == "twitter" %}
      '<i class="fa fa-twitter-square"></i><span class="sighting-type">Notificado por Twitter</span>' +
      {% elif sighting.source == "telegram"%}
      '<i class="fa fa-weixin"></i><span class="sighting-type">Notificado por Telegram</span>' +
      {% elif sighting.source == "web"%}
      '<i class="fa fa-envelope-square"></i><span class="sighting-type">Notificado por Web</span>' +  
      {% elif sighting.source == "app"%}
      '<i class="fa fa-mobile-phone"></i><span class="sighting-type">Notificado por App</span>' +  
      {% endif %}
      {% if sighting.type == 1 %}
      '<i class="fa fa-bug"></i><span>Avispa</span>' +
      {% elif sighting.type == 0%}
      '<i class="fa fa-fort-awesome"></i><span>Nido</span>' +
      {% endif %}
      {% if sighting.status == 0 %}
      '<span class="label-status">Validación:</span><span class="label label-danger">Pendiente</span>' +
      {% elif sighting.status == 1%}
      '<span class="label-status">Validación:</span><span class="label label-warning">Pendiente</span>' +
      {% elif sighting.status == 2%}
      '<span class="label-status">Validación:</span><span class="label label-success">Pendiente</span>' +
      {% endif %}    
      '<div class="details {% if sighting.first_picture %}details-with-photo{% endif %}  ">' +
      '<div class="image">' +
      {% if sighting.first_picture %}
      '<img src="{{ sighting.first_picture.file.url }}" class="img-responsive sighting-image"/>' +
      {% endif %}  
      '</div>' +
      '<div class="text">' +
      '<p class="text-content"><b>Descripción:</b> {{sighting.free_text}}</p>' + 

      '<p class="created-content"><b>Fecha:</b> {{sighting.created_at}}</p>' +


      '<a href="{% url 'sighting_id' sighting.id %}" class="btn btn-sm btn-primary pull-right">Más información</a> '   +    '</div></div></div>'],
      {% endfor %}
  ];
      
  // Display multiple markers on a map
  var infoWindow = new google.maps.InfoWindow(), marker, i;
  
  // Loop through our array of markers & place each one on the map  
  for( i = 0; i < markers.length; i++ ) {
      var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
      bounds.extend(position);
      marker = new google.maps.Marker({
          position: position,
          map: map,
          title: markers[i][0]
      });
      
      // Allow each marker to have an info window    
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
              infoWindow.setContent(infoWindowContent[i][0]);
              infoWindow.open(map, marker);
          }
      })(marker, i));

      // Automatically center the map fitting all markers on the screen
      map.fitBounds(bounds);
  }
  // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
  var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
      this.setZoom(8);
      google.maps.event.removeListener(boundsListener);
  });
    
}
</script>

{% else %}
<div class="container">
<div id="sightingsError">

<h2>No hay ningún avispamiento</h2> 

</div>
</div>

{% endif %}

{% if object_list %}
    <ul>
    {% for sighting in object_list %}
        <li><a href="/polls/{{ question.id }}/">{{ sighting.question_text }}</a></li>
        <p>{{ sighting.lat }}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}
