{% extends "layout.html" %}
{% load staticfiles %}
{% block title %}Avistamientos{% endblock %}
{% block description %}Lista de avistamientos{% endblock %}


{% block body %}
{% if sightings_list %}
<div id="map_wrapper">
  <div id="map_canvas" class="mapping"></div>
</div>
<script type="text/javascript">
jQuery(function($) {
    // Asynchronously Load the map API 
    var script = document.createElement('script');
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
});

function initialize() {
  var map;
  var bounds = new google.maps.LatLngBounds();
  var mapOptions = {
      mapTypeId: 'roadmap'
  };
                  
  // Display a map on the page
  map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
  map.setTilt(45);

  // Spider effect
  //var oms = new OverlappingMarkerSpiderfier(map);
      
  // Multiple Markers
  var markers = [
      {% for sighting in sightings_list %}
          ['{{ sighting.location }}', parseFloat('{{sighting.location.lat}}'.replace(',','.')), parseFloat('{{sighting.location.lng}}'.replace(',','.')), parseFloat('{{sighting.lat}}'.replace(',','.')), parseFloat('{{sighting.lng}}'.replace(',', '.')), '{{ sighting.user.username }}'],    
      {% endfor %}
  ];

  // Info Window Content
  var infoWindowContent = [
      {% for sighting in sightings_list %}
        ['<div class="info_content_map">' +
        {% if sighting.type == 1 %}
        '<h3>Avistamiento avispa</h3>' +
        {% elif sighting.type == 2 %}
        '<h3>Avistamiento nido</h3>' +
        {% else %}
        '<h3>Avistamiento</h3>' +      
        {% endif %}   

        {% if sighting.type == 1 %}
        '<i class="fa fa-bug"></i><span>Avispa</span>' +
        {% elif sighting.type == 2 %}
        '<i class="fa fa-fort-awesome"></i><span>Nido</span>' +
        {% endif %} 
        
        {% if sighting.is_valid == True %}
        '<span class="label-status">Resultado:</span><span class="label label-success">Positivo</span>' +
        {% elif sighting.is_valid == False %}
        '<span class="label-status">Resultado:</span><span class="label label-danger">Negativo</span>' +
        {% else %}
        '<span class="label-status">Resultado:</span><span class="label label-warning">Desconocido</span>' +
        {% endif %}

        {% if sighting.status == 0 %}
        '<span class="label-status">Estado:</span><span class="label label-danger">Pendiente</span>' +
        {% elif sighting.status == 1%}
        '<span class="label-status">Estado:</span><span class="label label-warning">Procesando</span>' +
        {% elif sighting.status == 2%}
        '<span class="label-status">Estado:</span><span class="label label-success">Procesado</span>' +
        {% endif %}    

        '<div class="details {% if sighting.first_picture %}details-with-photo{% endif %}  ">' +
        '<div class="image">' +
        {% if sighting.first_picture %}
        '<img src="{{ sighting.first_picture.file.url }}" class="img-responsive sighting-image"/>' +
        {% endif %}  
        '</div>' +
        '<div class="text">' +
        {% if sighting.user %}
        '<p class="text-content"><b>Usuario:</b> {{sighting.user}}</p>' + 
        {% else %}
        '<p class="text-content"><b>Usuario:</b> Anónimo</p>' + 
        {% endif %} 
        '<p class="created-content"><b>Fecha:</b> {{sighting.created_at}}</p>' +


        '<a href="{% url 'sighting_id' sighting.id %}" class="btn btn-sm btn-primary pull-right">Más información</a> '   +    '</div></div></div>'], 
      {% endfor %}
  ];
      
  // Display multiple markers on a map
  var infoWindow = new google.maps.InfoWindow(), marker, i;


  // Loop through our array of markers & place each one on the map  
  for( i = 0; i < markers.length; i++ ) {
      var lat = markers[i][3];
      var lng = markers[i][4];
      if (!lat || !lng) {
          lat = markers[i][1];
          lng = markers[i][2];
      }
      if (lat && lng) {
        var position = new google.maps.LatLng(lat, lng);

        // Control of markets in same spot
        if (markers.length != 0) {
          for (j=0; j < markers.length; j++) {
              //if a marker already exists in the same position as this marker
              if (markers[i][0]==markers[j][0]) {
                  //update the position of the coincident marker by applying a small multipler to its coordinates
                  var newLat = lat + (Math.random() -.5) / 300;// * (Math.random() * (max - min) + min);
                  var newLng = lng + (Math.random() -.5) / 300;// * (Math.random() * (max - min) + min);
                  position = new google.maps.LatLng(newLat,newLng);
              }
            }
          }

          var icon = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';
          {% if user.is_authenticated %}
            if (markers[i][5] == "{{ user.username }}") {
              icon = 'http://maps.google.com/mapfiles/ms/icons/purple-dot.png';
            }
          {% endif %}

          bounds.extend(position);
          marker = new google.maps.Marker({
              position: position,
              map: map,
              title: markers[i][0],
              icon: icon
          });
          
          //Allow each marker to have an info window    
          google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                  infoWindow.setContent(infoWindowContent[i][0]);
                  infoWindow.open(map, marker);
              }
          })(marker, i));

          // Automatically center the map fitting all markers on the screen
          map.fitBounds(bounds);
        }
    }
    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(8);
        google.maps.event.removeListener(boundsListener);
    });


        
    }
  </script>

{% else %}
<div class="error404Container">
  <div class="content">
    <div>
      <h1 class="h1404">Aún estamos validando los avistamientos</h1>
      <h2 class="h2404">Sube el tuyo <a href="{% url 'new_sighting' %}">aquí</a></h2>
    </div>
    <div class="buttom404">
      <div class="seach_bar404">
        <p>Puedes volver a Inicio haciendo clic <span><a href="{% url 'home' %}">aquí</a></span></p>
      </div>
    </div>
  </div>
</div>  
{% endif %}
{% endblock %}
