{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Equipo{% endblock %}

{% block description %}Preguntas más frecuentes{% endblock %}

{% block body %}  

    <!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestro equipo</h2>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="caption gray">Equipo investigador</h3>
          </div><!-- /.col-md-12 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/MarLeza.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Laboratorio de Zoología. Departamento de Biología</p>
                  <ul>
                    <li><a href="https://twitter.com/mar_leza_salord" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dra. Mar Leza</h4>
              <p>Laboratorio de Zoología. Departamento de Biología</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/MiquelMiranda.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Laboratorio de Zoología. Departamento de Biología</p>
                  <ul>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dr. Miguel Ángel Miranda</h4>
              <p>Laboratorio de Zoología. Departamento de Biología</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/CarlosGuerrero.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Arquitectura y comportamiento de sistemas informáticos y de comunicaciones (ACSIC). Departamento de Ciencias Matemáticas e Informática</p>
                  <ul>
                    <li><a href="https://twitter.com/guerrerotome" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="http://www.guerrerotome.com" target="_blank"><i class="fa fa-link fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dr. Carlos Guerrero</h4>
              <p>Arquitectura y comportamiento de sistemas informáticos y de comunicaciones (ACSIC). Departamento de Ciencias Matemáticas e Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/MauriciRuiz.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Servicio de Sistemas de Información Geográfica (SIG) y Teledetección</p>
                  <ul>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dr. Maurici Ruíz</h4>
              <p>Servicio de Sistemas de Información Geográfica (SIG) y Teledetección</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/TonaPou.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Comunicación, participación y redes sociales</p>
                  <ul>
                  </ul>
                </figcaption>
              </figure>
              <h4>Sra. Tona Pou</h4>
              <p>Comunicación, participación y redes sociales</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->



      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="caption gray">Equipo beca Cátedra Santander UIB de Innovación y Transferencia del Conocimiento (CSUIT)</h3>
          </div><!-- /.col-md-12 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/JuanMartin.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Escuela Politécnica Superior de la Universidad de las Islas Baleares</p>
                  <ul>
                    <li><a href="https://github.com/JoanMartin" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/JoanMarMir" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/juanjosemartinmiralles" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Juan José Martín Miralles</h4>
              <p>Estudiante de Ingeniería Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/CamilaPerez.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Escuela Politécnica Superior de la Universidad de las Islas Baleares</p>
                  <ul> 
                    <li><a href="https://github.com/CamPerez" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/cdefyinggravity" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/camilaperezarevalo" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Camila Ángela Pérez Arévalo</h4>
              <p>Estudiante de Ingeniería Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/CarlosTenorio.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Escuela Politécnica Superior de la Universidad de las Islas Baleares</p>
                  <ul>
                    <li><a href="https://github.com/CarlosTenorio" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/ctenoriop" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://es.linkedin.com/in/carlostenorioperez" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Carlos Tenorio Pérez</h4>
              <p>Estudiante de Ingeniería Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->


        </div><!-- /.row -->
      </div><!-- /.container -->



      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="caption gray">Equipo hackathon solidario</h3>
          </div><!-- /.col-md-12 -->


          <div class="col-lg-offset-2 col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="team-member">
              <figure>
                <img src="{% static "img/teamHackathon.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Ricardo Bibiloni Muñoz, Dayman Hoffmann Quintana, Adrián Castellanos Zaragoza, Jaume Riera Genovart, Jaime Crespí Valero, Bartomeu Crespí Jiménez, Joan Bonnín Hernández, Sebastià Serra Rigo, Ilya Kabushko, Carlos Tenorio Pérez, Juan José Martín Miralles, Camila Ángela Pérez Arévalo, Diego Blasco Quetglas, Mariano Ledo González, Javier Ramos Seguí, Jordi Llull Chavarría, Lidia Nicolau Palou, Pablo Bernardo Baragaño, Joan Font Rosillo, Miguel Ángel Durán González, Manuel Jiménez Torres, Alejandro Arnaiz González, Nino Álvarez Blaser</p>
                  <ul>
                  </ul>
                </figcaption>
              </figure>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->

{% endblock %}