{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}Equipo{% endblock %}

{% block description %}Preguntas más frecuentes{% endblock %}

{% block body %}  

    <!-- Our team Section -->
<section id="team" class="team content-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Nuestro equipo</h2>
      </div><!-- /.col-md-12 -->

      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="caption gray">Equipo investigador</h3>
          </div><!-- /.col-md-12 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/MarLeza.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                  <ul>
                    <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dra. Mar Leza</h4>
              <p>Biología</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/MiquelMiranda.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                  <ul>
                    <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dr. Miguel Ángel Miranda</h4>
              <p>Biología</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/CarlosGuerrero.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dr. Carlos Guerrero</h4>
              <p>Ingeniería informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/MauriciRuiz.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Dr. Maurici Ruíz</h4>
              <p>Sistemas de información geográfica (SIG)</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/TonaPou.jpg" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href="" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Sra. Tona Pou</h4>
              <p>Comunicación, participación y redes sociales</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

        </div><!-- /.row -->
      </div><!-- /.container -->



      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="caption gray">Equipo beca Cátedra Santander UIB de Innovación y Transferencia del Conocimiento (CSUIT)</h3>
          </div><!-- /.col-md-12 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/JuanMartin.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                  <ul>
                    <li><a href="https://github.com/JoanMartin" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/JoanMarMir" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/juanjosemartinmiralles" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Juan José Martín Miralles</h4>
              <p>Estudiante de Ingeniería Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/CamilaPerez.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                  <ul> 
                    <li><a href="https://github.com/CamPerez" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/cdefyinggravity" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/camilaperezarevalo" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Camila Ángela Pérez Arévalo</h4>
              <p>Estudiante de Ingeniería Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->

          <div class="col-md-4">
            <div class="team-member">
              <figure>
                <img src="{% static "img/CarlosTenorio.png" %}" alt="" class="img-responsive">
                <figcaption>
                  <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                  <ul>
                    <li><a href="https://github.com/CarlosTenorio" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
                    <li><a href="https://twitter.com/ctenoriop" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
                    <li><a href="https://es.linkedin.com/in/carlostenorioperez" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></li>
                  </ul>
                </figcaption>
              </figure>
              <h4>Carlos Tenorio Pérez</h4>
              <p>Estudiante de Ingeniería Informática</p>
            </div><!-- /.team-member-->
          </div><!-- /.col-md-4 -->


        </div><!-- /.row -->
      </div><!-- /.container -->



      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <h3 class="caption gray">Equipo hackathon solidario</h3>
          </div><!-- /.col-md-12 -->

          <p>hola, adios, como estas</p>

        </div><!-- /.row -->
      </div><!-- /.container -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.our-team -->

{% endblock %}