.iconContact{
  font-size: 100px;
  margin-bottom: 25px;
}

#sectionContact{
  background: white;
  margin: 0px auto 25px;
  text-align: center;
  padding: 50px 0 10px;
  width: 80%;
  max-width: 1100px;
}

#formContact {
  width: 58.33333%;
  margin: 0 auto;
}
#formContact .field {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}
#formContact .field label {
  color: @font-color;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: @brand-secondary;
  width: 100%;
  padding: 18px 0;
  font-size: 1.25em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#formContact .field label + span {
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #cd6302;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#formContact .field input[type="text"],
#formContact .field textarea {
  border: none;
  background: #E8E9EA;
  width: 100%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: black;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
#formContact .field input[type="text"]#messageContact,
#formContact .field textarea#messageContact {
  height: 70px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}
#formContact .field input[type="text"]:focus, #formContact .field input[type="text"].focused,
#formContact .field textarea:focus,
#formContact .field textarea.focused {
  outline: none;
}
#formContact .field input[type="text"]:focus#messageContact, #formContact .field input[type="text"].focused#messageContact,
#formContact .field textarea:focus#messageContact,
#formContact .field textarea.focused#messageContact {
  height: 200px;
}

#formContact .field textarea:focus + label,
#formContact .field textarea.focused + label {
  width: 18%;
  background: @brand-primary;
}

#formContact .field input[type="text"]:focus + label,
#formContact .field input[type="text"].focused + label {
  width: 18%;
  background: @brand-primary;
}

#formContact .field input[type="text"].focused + label,
#formContact .field textarea.focused + label {
  color: white;
}
#formContact .field:hover label {
  width: 18%;
  background: @brand-secondary;
  color: white;
}

@media only screen and (max-width: 1200px) {
    #formContact .field textarea:focus + label,
    #formContact .field textarea.focused + label {
      color: transparent;
    }

    #formContact .field input[type="text"]:focus + label,
    #formContact .field input[type="text"].focused + label {
      color: transparent;
    }
    #formContact .field:hover label {
      color: transparent;
    }
}

@media only screen and (max-width: 768px) {
    #formContact .field input[type="text"],
    #formContact .field textarea {
      color:transparent;
    }
}




#formContact input[type="submit"] {
  width: 60%;
  padding: 0.25 1.25rem;
  height: 3.4rem;
  line-height: 2.125rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background-color: #F78102;
  color: #ffffff;
  transition: all .5s;
  text-transform: uppercase;
  margin-top: 30px;
}
#formContact input[type="submit"]:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}