h1 {
  text-align: center;
  padding-bottom: 45px;
  padding-top: 45px;
  margin: 0;
  i {
    margin-right: 10px;
  }
}

#main-container{
  background-color: @brand-bg-color;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}