.sighting-page {
  #map_wrapper {
    height: 300px;
    margin-bottom: 30px;
  }
  .info-group {
    font-size: 18px;
    margin-bottom: 15px;
    .sighting-label {
      font-weight: bold;
    }     
    i {
      margin-right: 10px;
    }
  }

  .comment-container{
    margin-bottom: 30px;
  }

  .carousel {
    margin-bottom: 30px;

    .carousel-control {
      padding-top: 30%;
    }
  }
}