.searchable-container{margin:10px 0 0 0}
.searchable-container label.btn-default.active{background-color:@brand-secondary;color:#FFF}
.searchable-container label.btn-default{width:90%;border:1px solid @brand-secondary;margin:5px; box-shadow:5px 8px 8px 0 #858585;}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:90%}
.searchable-container .btn i.fa{
    opacity: 0;
}
.searchable-container .btn.active i.fa {
    opacity: 1;
}

.backgroundQuestions{
	background-color: @brand-bg-color;
}

.answer{
  white-space: normal;
}