// Colors
@brand-primary:       #FD9627 // cta button color
@brand-heading-color: #FDA13E;
@brand-bg-color: #FFF0DD;
@fa-font-path: "/static/css/fonts";
@gray-base: #656565;

@brand-camera-color: #ff6716;


@brand-success: #63ca75;
@brand-pending: #B26F0B;
