@footer-font-color: #ffffff; // Appears 2 times
.footer-container {
  background-color: @brand-heading-color;
}
.footer-distributed {
  background-color: @brand-heading-color;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: left;

  .footer-left {
    p {
      color: #8f9296;
      font-size: 14px;
      margin: 0;
    }
    p.footer-links {
      line-height: 1.8;
    }
  }
  p.footer-links {
    color: @brand-bg-color;
    font-size:18px;
    font-weight: bold;
    padding: 0;
    a {
      color: inherit;
      display:inline-block;
      line-height: 1.8;
      text-decoration: none;
    }
  }
  .footer-right {
    float: right;
    max-width: 180px;
    a {
      background-color: @footer-font-color;
      border-radius: 2px;
      color: @brand-heading-color;
      display: inline-block;
      font-size: 20px;
      height: 35px;
      line-height: 35px;
      margin-left: 3px;
      text-align: center;
      width: 35px;

      &:hover {
        color: @footer-font-color;
        background-color: darken(@brand-heading-color,20%);
      }
    }
  }
}