form {
  margin: 30px auto;
  .location{
    margin-top: 30px;
  }

  .add-picture {
    margin: 30px auto 50px;
    button {
      border-radius: 50%;
      padding: 3em;
      i {
        font-size: 2em;
      }
    }
  }



  .round-label {
    background-color: @brand-primary;
    color: #FFF;
    width: 10em;
    height: 10em;
    span {
      padding-top: 4em;
      display: block;
      border-radius: 50%;
    }

  }
}
