form {
  margin: 30px auto;

    #map_wrapper {
    height: 350px;
    margin-bottom: 30px;
  }

  .location{
    margin-top: 10px;
    width: 100%;
  }

  .freetext{
    margin-top: 10px;
    width: 100%;
    height: 200px;
  }

  .add-picture {
    margin: 30px auto 50px;
    button {
      border-radius: 50%;
      padding: 3em;
      i {
        font-size: 2em;
      }
    }
  }
 

  #mydz {      
    background: radial-gradient(ellipse at center,rgba(253, 150, 39, 0.5) 0,#FD9627 100%);
    height: 360px;
    border:5px dashed white;
    text-align:center;
    color: #656565;
    z-index: 20;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
    margin-bottom: 30px;
    i {
      text-align: center;
      font-size: 10em;  
      color:#fff;
      margin-top: 50px;
    }
  }

  #mydz.in {
    color:#656565;
    border-color:white;
    background: radial-gradient(ellipse at center,#EB6A5A 0,#c9402f 100%);
    margin-bottom: 30px;
    i {          
      color:#fff;
    }
    label {
      background: #fff;
      color:#EB6A5A;
    }
  }

  #mydz .dz-preview.dz-image-preview {
     background-color: transparent;
  }

  #mydz.fade {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      opacity: 1;
  }

  .radio-type {
    input[type="radio"] {
      display:none;
    }

    label {
      background-color: @brand-primary;
      color: #FFF;
      width: 10em;
      height: 10em;
      border-style: solid;
      border-width: 3px;
      border-color: white; 
      span {
        display: block;
        border-radius: 10%;
      }
    }

    label:hover {
      cursor: pointer;
      border-style: solid;
      border-width: 3px;
      border-color: @brand-secondary; 
    }

    input[type="radio"]:checked + label {
      cursor: pointer;
      border-style: solid;
      border-width: 3px;
      border-color: #656565; 
    }
  }

  .form-error {
    border: 1px solid red;
    border-shadow: 0 0 10px;
  } 

  .iconradio{
    height: 65px;
    width: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

#submit-all {

  padding: 0.25 1.25rem;
  height: 3.4rem;
  line-height: 2.125rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background-color: #F78102;
  color: #ffffff;
  transition: all .5s;
  margin-bottom: 30px;
  margin-top: 30px;
  text-transform: uppercase;
}
#submit-all:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
}