.navbar-container {
  background-color: @brand-heading-color;
}
.navbar{
  margin-bottom:0;
.navbar-brand {


  width: auto;
  display: inline-flex;	
  padding-bottom: 0;
  padding-top: 0;

  img {
  	width: auto;
    height: auto;
    max-height: 100%;
  }

  span {
  	line-height: 45px;
  	margin-left: 10px;
  }
}
}