

// #formSignup{
//   margin-left: auto;
//   margin-right: auto;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.label-active, #formSignup .right-col input:focus + label {
  font-weight: 600;
  font-size: 1.5rem;
  transform: translate(0, -5rem);
  color: #888;
}

#tittleformsignup {
  font-size: 3.0rem;
  margin-top: -5px;
  font-weight: 600;
  color: #ffffff;
}

#formSignup {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 630px;
  height: 440px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.5);
}
#formSignup .left-col, #formSignup .right-col {
  width: 50%;
  float: left;
  height: 100%;
}
#formSignup .left-col {
  text-align: center;
  color: #66be44;
  padding: 5rem 2.14rem;
  background: #66be44;
  background-size: cover;
  font-size: 1.875rem;
}
#formSignup .left-col p {
  line-height: 3.5rem;
  margin-top: 2.5rem;
  color: #ffffff;
}
#formSignup .left-col hr {
  height: 3px;
  width: 23.86rem;
  border: none;
  background-color: #f3e942;
}
#formSignup .right-col {
  padding: 2.7rem 1.875rem;
  background-color: #ffffff;
  font-size: 1.875rem;
}
#formSignup .right-col label {
  display: block;
  transform: translate(0px, -5.0rem);
  line-height: 1.8rem;
  transition: all .3s;
}
#formSignup .right-col input {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.875rem;
  width: 20.5rem;
  height: 2.125rem;
  line-height: 2.125rem;
  margin-top: 30px;
  border: none;
  border-bottom: 1px solid #aaaaaa;
}
#formSignup .right-col input[type="submit"] {
  float: right;
  width: auto;
  padding: 0 1.25rem;
  margin-top: .5rem;
  height: 3.125rem;
  line-height: 2.125rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  background-color: #66be44;
  color: #ffffff;
  transition: all .5s;
}
#formSignup .right-col input[type="submit"]:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}



.alertForm {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
z-index: 999;
}
.alertForm-heading {
color: inherit;
}
.alertForm .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
}