<footer class="footer-distributed row">

    <div class="footer-right"> 

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
          <a href="{% url 'home' %}">Home</a>
          ·
          <a href="{% url 'sightings' %}">Avistamientos</a>
          ·
          <a href="{% url 'faq' %}">FAQ</a>
          ·
          <a href="{% url 'locations' %}">Localizaciones</a>
          </p>
        <p>Company Name &copy; 2015</p>
    </div>

</footer>


