<footer class="footer-distributed">
  <div class="footer-right"> 
    <a href="https://twitter.com/avispamiento" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/CarlosTenorio/vespapp-web" target="_blank"><i class="fa fa-github"></i></a>
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <a href="{% url 'home' %}">Home</a>
      ·
      <a href="{% url 'sightings' %}">Avistamientos</a>
      ·
      <a href="{% url 'info' %}">Infórmate</a>
      ·
      <a href="{% url 'new_sighting' %}">Nuevo avistamiento</a>
    </p>
  </div>
</footer>


