<div class="col-xs-12 home-info">
  <div class="row">
    <div class="col-lg-4 text-justify">
      <h2 class="text-center">Haz una foto</h2>
      <p>
        Envía una foto de una avispa o un nido.
        Puedes hacerlo por web, con la app movil e incluso desde twitter
      </p>
    </div>
    <div class="col-lg-4 text-justify">
      <h2 class="text-center">Envíanos los datos</h2>
      <p>
        Dinos donde lo has encontrado, qué día y toda la información que puedas
        aportar para ayudar a su localización.
      </p>
    </div>
    <div class="col-lg-4 text-justify">
      <h2 class="text-center">Recive comentarios</h2>
      <p>
        Si lo deseas, puedes registrarte para recibir información sobre el seguimiento de
        tu avistamiento y aportar información complementaria si nuestros expertos lo neceistan
      </p>
    </div>
  </div>
</div>
